@import './base/_variables';
@import './base/_fonts';

*{
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container{
    max-width: 1306px;
    margin: 0 auto;
}
@import './blocks/promo';
@import './blocks/header';

// .promo {
//     min-height: 960px;
//     background: url('../imajes/main-screen__bgc.jpg') center (center/cover) no-repeat;
//     transform: translateY(-85px);
//     z-index: 1;
//     .promo-title{
//         // width: 65%;
//         // height: 450px;
//         .promo-title-content{
//             margin: 0;
//             font-weight: 700;
//             font-size: 64px;
//             line-height: 140%;
//             color: #FFFFFF;
//         }
//     }    
// }