.header{
    max-width: 1760px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__nav{
        margin: 0 auto;
        max-width: 920px;        
    }
    &__nav-list{
        margin: 0;
        padding: 0;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;               
    }
    &__nav-item{
        padding-right: 56px;
        &:last-child{
            padding-right: 0;
        }
    }
    &__nav-link{
        text-decoration: none;
        &:hover{
            color: red;
        }         
    }
    &__header-btn{
        width: 183px;
        height: 44px;
        background: $pink-gradient;
        border-radius:  50px;
        font-weight: 400;
        font-size: 16px;
        &:hover{
            background: $red-gradient;
        }
    } 
}
