
.header__nav{
    margin: 0 auto;
    max-width: 745px;
    .header__nav-list{
        margin: 0;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        .header__nav-link{
            text-decoration: none;
            color: $white-text;
            &:hover{
                color: red;
            }         
        }        
    }
}