.partners{
    margin-top: 200px;
    &__header{
        max-width: 807px;
        height: 127px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    &__logo{
        transform: rotate(165deg);
    }
    &__title{
        font-weight: 700;
        font-size: 48px;
    }
    &__wrapper{
        margin-top: 60px;
        display: flex;justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @include set-border(8, 4, 'partners__wrapper', '_item-logo');
        &_item-logo{
            padding-right: 48px;
            padding-left: 48px;
        }
    }
}