.promo{
    min-height: 960px;
    padding: 38px 0 28px 0;
    background: url(../imajes/main-screen__bgc.jpg) center (center / cover) no-repeat;
    &__logo{
        position: absolute;
        width: 40px;
        height: 40px;
        left: 80px;
        top: 40px;
    }
    &__btn{
        position: absolute;
        width: 183px;
        height: 44px;
        left: 1657px;
        top: 38px;
        background: $pink-gradient;
        border-radius:  50px;
        font-weight: 400;
        font-size: 16px;
        color: $white-text;
        &:hover{
            background: $red-gradient;
        }
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin-top: 198px;
    }
    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 140%;
        color: $white-text;
    }
    &__timer{
        margin-top: 50px;
        width: 500px;
        display: flex;
        justify-content: space-between;
    }
    &__timer-item{
        width: 102px;
        height: 112px;
        text-align: center;
        background: #121212;
    }
    &__count{
        margin: 0;
        margin-top: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: $white-text;
    }
    &__timer-descr{
        font-weight: 400;
        font-size: 16px;
        color: $white-text;
        opacity: 0.4;
    }
}